.albumCardContainer{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width:95%;
  height: 95%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.37);
  border-radius:20px;
  position:relative;
}
.albumTop{
  z-index: 3;
  display:flex;
  align-items: center;
  margin-left: 3%;
  margin-top: 5%;
  text-shadow: 0 3px 4px rgba(0, 0, 0, 0.37);
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
.albumBackgroundImg{
  z-index: 1;
  width: 100%;
  height:100%;
  position: absolute;
  border-radius:20px;
}
/*검은 스크린 막 */
.albumCardContainer::before {
  z-index: 2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(139, 139, 139, 0.544); /* 검은 투명 스크린 추가 */
  border-radius: 20px;
}
.writerProfileImg{
  width:1.7rem;
  height:1.7rem;
  border-radius:50%;
  margin-right:0.4rem;

}
.infoContainer{
  z-index: 3;
  display:flex;
  height:30%;
  justify-content: space-between;
  margin:3%;
}
.infoTags{
  display: flex;
  width:40%;
  flex-direction:column;
  justify-content: space-around;
  align-items: flex-start;
  margin-right: -0.25rem;
}
.countParticipants{
  display:inline;
  align-self: flex-end;
}