.cardWrapper {
  width: 91.5%;
  height: 37%;
  position:relative;
}
.cardContainer{
  display:flex;
  align-items:center;
  background-color: #ffffd8;
  padding:5px;
  padding-left:8px;
  padding-right:0px;
  border-radius:20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px rgba(138, 138, 138, 0.1);
}
.cardImg{
  width:43%;
  height:5rem;
  border-radius: 17px;
}
.infoSection{
  margin-left:1rem;
  width:55%;
  
}
.cardDetailInfo{
  display:flex;
  flex-direction:column;
  align-content:center;
  list-style-type: none;
  padding:0px;
  margin-top:3%;
}
.cardDetailInfo li{
  display:flex;
  align-content:center; 
  padding-bottom:4%;
}
.infoImgContainer{
  display:flex;
  align-items:center;
  justify-content: center;
  width: 1rem;
  height:1rem;
}
.cardTitle{
  font-size:1rem;
  font-weight: 600;
}
#dateIcon{
  width: 0.9rem;
  height: 0.94rem;
}
#locationIcon{
  width: 1rem;
  height:1rem;
}
#langIcon{
  width: 0.9rem;
  height:0.9rem;
}


.infoContent{
  margin-left:0.5rem;
  font-size:0.7rem;
  font-weight: 500;
}

