.lang-select-container{
  margin-top:25%;
  background-color: aqua;
  width:90%;
}
.lang-grid{
  margin-top:10%;
}
.lang-box-container{
  display:flex;
  flex-direction:column;
  justify-content: center;
  width: 100px;
  height:60px;
}
.lang-btn{
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width:100%;
}