.languageSwitch-form{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height:30%;
  align-items: center;
  margin-bottom:35%;
}

.rectangleBox{
  width: 72%;
  height: 43%;
  border-radius: 10px;
  border: solid 2px #3dbe14;
  background-color:white;
  font-size: 24px;
  text-align:center;
  vertical-align: middle;
  font-weight: 600;
  color: #868686;
  line-height: 1.5;
  font-stretch: normal;
  font-style: normal;
  font-family: Inter;
}
.rectangleBox.active {
  background-color: #3dbe14;
  color: white;
}
input[type=checkbox]{
  accent-color: #3dbe14;
  zoom:1.5;
}

.agreement_form{
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  font-size:14px;
}
.agreement_set{
  display:flex;
  align-items:center;
  word-spacing:-1px;

}
.privacy-text{
  letter-spacing:-1px;
}
